<div class="bs-component" >
    <div>
        <ul id="list">
          <li *ngFor="let review of reviews"  class="well">
                <h4>{{review.name}}       <div *ngIf="review.rating">{{review.rating}}  <span class="glyphicon glyphicon-star"></span></div></h4>
                <div class="panel-body">
                       
                   <br>
                    <h6>Adress  </h6>{{review.formatted_address}}
                </div>
              <button class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-map-marker"></span>  Show in Map</button>
              <button class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-floppy-disk"></span>  Save</button>
              <button class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-tag"></span>  Comments</button>
              <!-- reviews recived by "contents.component" is displayed in 
              list format in screen inside "app-contents" section. -->
          </li>
        </ul>
    </div>
</div>

